# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
# Datasource ignore XML files
/dataSources.local.xml
# Datasource ignore local env files
venv/
.venv/
.env
# Datasource ignore ZIP files
*.zip
# Datasource ignored idea files
.idea/